*, :root{
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;

  --cor1: #8B0000;
  --cor2: #FFD700;
  --cor3: #964B00;
  --cor4: #FFFFFF;
  --cor5: #0A42AB;
}


/*Header*/
header{
  text-align: left;
  background-color: var(--cor2);
  position: relative;
  padding: 10px;
  
  text-align: center;
}

nav{
  text-align: center;
}

nav a{
  color: var(--cor4);
  font-weight: bold;
  text-decoration: none;
  margin-right: 5px;
  margin-left: 5px;
  transition: 0.3s;
}

nav a:hover{
  font-size: 1.1em;
  color: var(--cor5);
}

/*Config login - header*/
#conteudo{
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translate(0,-50%);
  max-width: 70px;
}

/*Config searchBar - Header*/





